[Unit]
Description=Taskflow daemon service
After=network-online.target
Wants=network-online.target

[Service]
Type=Simple
ExecStart=/usr/bin/taskflowd
Restart=always
RestartSec=5

[Install]
Alias=taskflowd.service
WantedBy=multi-user.target
